/* Mobile View*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,nav,main,aside,footer {
    background-color: #ffffff; 
}

body {
    background-color: #6e706d;
    min-width: 500px;
}

header {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: greenyellow;
    height: 100px;
}

header h1 {
    font-size: 2em;
    color: rgb(61, 95, 67);
}

h1,h2{
    color: rgb(108, 148, 48);
}

header img {
   max-height: 100%;
   width: auto;
}

nav {
    background-color:grey;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    background-color: grey;
    padding: 5px ; 
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

main {
    padding: 10px;
}

main p{
    margin: 10px;
}

aside{
    text-align:center;
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

aside img {
    width: 50%;
    height: auto;
    margin: 10px;

}

aside p {
    margin: 10px 0;
    text-align: center; 
}

aside a {
    display: block;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}

footer {
    border-top: 1px solid black;
    padding: 1em;
    text-align: center;
    background-color: greenyellow;
}

form {
    display: block;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin:auto;
}

form input, form select, form textarea {
    width: 100%; 
    padding: 5px;
    margin-bottom: 5px;
}

form input[type="radio"] {
    width: auto;
}

.bold {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

thead {
    background-color: #d9efcb;
}

.gymselector{
    text-align: center;
    padding-top: 2%;
}

.gymselector p{
    margin: 5%;
}

.gymselector a {
    text-decoration: none;
}

.goodlifegs, .lags,.ltgs {
    padding-top:2%;
}

main ul li {
    padding-left: 15px;
    list-style-position: inside;
    width: auto;
}

/* Tablet View*/
@media (min-width: 680px){
    body{
        display: grid;
        grid-template-columns: 1fr .4fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    }

    header {grid-area: header;}
    nav {grid-area: nav;}
    main {grid-area: main;}
    aside {grid-area: aside;}
    footer {grid-area: footer;}

    nav ul {
        display: flex;
        justify-content:space-evenly;
  
    }

    nav ul li {
        border-bottom: none;
    }

    aside img{
        width: 80%;
    }

    aside{
       justify-content: flex-start ;
    }
}

/* Desktop View*/
@media (min-width: 1024px){
    body{
        display: grid;
        grid-template-columns: 150px 2fr 0.5fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";
        width: 80%;
        margin: auto;
    }

    aside img{
        width: 80%;
    }
    
    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
    }
}